html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55) no-repeat center center fixed;
    background-size: cover;
  }
  
  .container{
    color: white;
    margin: 15px auto;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal .login-box {
    background: #161718;
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .wrap-img {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .login-box .wrap-button {
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box select option {
    color: black;
  }

  .login-box .user-box label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    color: #cc0000;
    pointer-events: none;
    transition: .5s;
  }

  .login-box form button {
    border: 0;
    position: relative;
    display: inline-block;
    background: linear-gradient(#141e30, #243b55);
    padding: 10px 20px;
    color: #cc0000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background: #cc0000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #cc0000,
                0 0 25px #cc0000,
                0 0 50px #cc0000,
                0 0 100px #cc0000;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  .login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #cc0000);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #cc0000);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cc0000);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #cc0000);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .grid-crosses{
    font-size: 16px;
    font-weight: 500;
  }
  .grid-crosses li {
    width: 30%;
    display: inline-block;
    margin: 5px
  }

  .grid-crosses li a {
    color: white;
  }

  .users-table {
    margin: 20px 0
  }

  .search-table tr:hover {
    cursor: pointer;
    background-color: #32383e;
  }

  .image-block {
    position: relative;
    width: 40%;
    text-align: center;
  }

  .image-block .sub-photo {
    display: inline-block;
    margin: 2px;
    padding: 10px;
  }

  .image-block .sub-photo img {
    width: 50px;
    height: 50px;
  }
  .panel-body {
    width: 100%;
  }